# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env

# Data caches
data/raw/
*.pkl

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db
